@import url(fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-family: 'Roboto';
}
body{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.navigate{
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.07);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logo{
    display: block;
}
.logo > img{
    width: 100%;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 36px;
    z-index: 10;
}
.header__link{
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #151437;
    position: relative;
}
.header__link::before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    top: 40px;
    border-radius: 23px 10px 0px 0px;
    position: absolute;
    transition: 200ms linear;
    background: #2981d2;
}
.header__link:hover::before{
    width: 100%;
}
.header__link:hover{
    color: #2981d2;
}
.header__link-se{
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    background: #6C9BCF;
    padding: 10px 25px;
    border-radius: 30px;
    text-transform: uppercase;
}
#check{
    display: none;
}
#check:checked ~ .btn .bars{
    background: transparent;
}
#check:checked ~ .btn .bars::before{
    transform: rotate(-45deg);
    top: 0;
}
#check:checked ~ .btn .bars::after{
    transform: rotate(45deg);
    top: 0;
}
.btn{
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.bars{
    width: 30px;
    height: 1px;
    background: #000;
    position: relative;
}
.bars::before, .bars::after{
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 1px;
    top: -7px;
    background: #000;
    transition: 0.1s;
}
.bars::after{
    top: 7px;
}
.intro{
    display: flex;
    align-items: center;
    text-align: center;
    height: 750px;
    background: url(../images/header\ background.jpg) no-repeat center/cover;
    margin-bottom: 50px;
}
.intro__text{
    max-width: 600px;
    margin: 0 auto;
    background: #00000085;
    border-radius: 15px;
    padding: 35px 25px 45px;
}
.intro__title{
    font-size: 34px;
    color: #fff;
    font-weight: 500;
}
.intro__descr{
    margin: 25px 0 25px;
    color: #ffffff;
    line-height: 25px;
    font-weight: 400;
    text-align: left;
}
.install::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    position: absolute;
    transition: 400ms;
}
.install:hover::before{
    top: 0;
    background: #0000002d;
}
.install span, .install img{
    position: relative;
    z-index: 1;
}
.install{
    margin: 0 auto;
    padding: 18px 0;
    gap: 10px;
    max-width: 307px; width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    background: linear-gradient(180deg,#389ddc 0,#1479d2 95%);
}
.intro__time{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin: 15px 0 ;
}
.intro__adv{
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 20px;
}
.intro__adv > a{
    color: #2981d2;
    margin-left:5px;
}
.intro__adv > a:hover{
    color: #3b3d40;
}
.line{
    width: 100%;
    height: 1px;
    background: #fff;
}
.intro__buy{
    display: flex;
    align-items: center;
    margin-left: 25%;
    gap: 15px;
    color: #2981d2;
    margin-top: 20px;
}
.intro__buy:hover{
    color: #3b3d40;
}
.plus .title{
    position: relative;
}
.plus .title::before{
    content: '';
    display: block;
    position: absolute;
    width: 180%;
    left: -40%;
    height: 2px;
    border-radius: 10px;
    background: #eeeeee;
    top: 70px;
}
.title{
    color: #2981d2;
    font-size: 32px;
    line-height: 37px;
    font-weight: 500;
    width: max-content;
    margin: 0 auto;
}
.plus__cards{
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 230px));
    gap: 80px;
    margin: 90px 0 60px;
}
.plus__item img{
    width: 120px;
    height: 120px;
}
.plus__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.plus__title{
    font-size: 24px;
    line-height: 32px;
    color: #1479d2;
    margin: 15px     0 15px;
}
.plus__descr{
    color: #3b3d40;
    font-size: 16px;
    line-height: 26px;
}
.details{
    background: #eeeeee;
    padding: 50px 30px;
}
.details .line{
    background: #2981d2;
    margin: 40px 0;
}
.skrins{
    display: grid;
    grid-template-columns: repeat(4, minmax(260px, 260px));
    justify-content: center;
    gap: 5px;
}
.skrins img{
    max-width: 260px;
    width: 100%;
}
.needs__cards{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 25%;
    gap: 5px;
}
.needs__descr{
    font-size: 18px;
    line-height: 24px;
    color: #3b3d40;
}
.needs__item{
    display: flex;
    align-items: center;
    gap: 30px;
}
.more{
    margin: 50px 0 30px;
}
.more__content{
    display: flex;
    justify-content: space-between;
}
.more__left{
    max-width: 378px;
    width: 100%;
}
.more__left > img{
    margin-bottom: 25px;
    width: 100%;
}
.more__install{
    margin: 0 auto;
    padding: 18px 0;
    gap: 10px;
    max-width: 307px; width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    border-radius: 6px;
    background: linear-gradient(180deg,#389ddc 0,#1479d2 95%);
}
.more__install::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    position: absolute;
    transition: 400ms;
}
.more__install:hover::before{
    top: 0;
    background: #0000002d;
}
.more__install span, .more__install img{
    position: relative;
    z-index: 1; 
}
.more__left-time{
    color: #000;
    margin: 10px 0;
    text-align: center;
}
.more__left .line{
    background: #EBEBEB;
}
.more__left-adv{
    display: flex;
    align-items: center;
    color: #2981d2;
    margin: 20px auto;
    width: max-content;
    font-size: 18px;
    line-height: 24px;
    gap: 15px;
}
.more__left-adv img{
    width: 20px;
    height: 18px;
}
.more__left-list{
    display: flex;
    flex-direction: column ;
    margin-top: 30px;
    gap: 15px;
}
.more__left-collumn{
    display: flex;
    gap: 20px;
}
.more__left-link img{
    width: 16px;
    height: 16px;
}
.more__left-link{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    color: #3b3d40;
    font-size: 13px;
    background: #eeeeee;
    transition: 400ms;
}
.more__left-collumn .more__left-link{
    padding-right: 15px;
}
.more__left-list .more__left-collumn:first-child .more__left-link:first-child:hover{
    background: #443ca52f;
}
.more__left-list .more__left-collumn:first-child .more__left-link:last-child:hover, .more__left-list .more__left-collumn:nth-child(2) .more__left-link:nth-child(2):hover{
    background: #afd3e28c;
}
.more__left-list .more__left-collumn:nth-child(2) .more__left-link:first-child:hover{
    background: #453ca53b;
}
.more__left-list .more__left-collumn:nth-child(2) .more__left-link:last-child:hover{
    background: #ff69697a;
}
.more__left-list .more__left-collumn:nth-child(3) .more__left-link:first-child:hover{
    background: #ffa45962;
}
.more__left-list .more__left-collumn:nth-child(3) .more__left-link:last-child:hover{
    background: #BEF0CB;
}
.more__right{
    max-width: 750px;
    width: 100%;
}
.more__right-title{
    font-size: 24px;
    line-height: 32px;
    color: #3b3d40;
    margin-bottom: 20px;
}
.more__right-descr1{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
}
.more__right-descr1 span:first-child{
    color: #2981d2;
    font-weight: 500;
}
.more__right-title2{
    font-size: 18px;
    line-height: 24px;
    color: #3b3d40;
    font-weight: 700;
    margin-bottom: 25px;
}
.more__right-descrs{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.more__right-descr2{
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: #3b3d40;
}
.more__right-descr2::before{
    content: '';
    display: block;
    border-radius: 50%;
    background: #000;
    width: 5px;
    height: 5px;
    top: 8px;
    left: -20px;
    position: absolute;
}
.footer{
    padding: 30px 0;
    background: #27282A;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__elems{
    display: flex;
    gap: 25px;
}
.footer__link{
    display: block;
    color: #9DA6A8;
}
.footer__link:hover{
    color: #2981d2;
}
.footer__descr{
    color: #666D70;
}
@media(max-width: 1180px) {
    .more__content{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}
@media(max-width: 1000px) {
    .needs__cards{
        margin: 30px 0 0 10%;
    }
}
@media(max-width: 1160px) {
    .plus__cards{
        grid-template-columns: repeat(2, minmax(220px, 230px));
        justify-content: center;
    }
}
@media(max-width: 775px) {
    .footer__content{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}
@media(max-width: 540px){
    .plus__cards{
        grid-template-columns: repeat(1, minmax(200px, 230px));
    }
    .needs__cards{
        margin: 30px 0 0 1%;
    }
    .needs .title{
        font-size: 25px;
    }
}
@media(max-width: 375px) {
    .logo{
        max-width: 200px;
        width: 100%;
    }
    .needs .title{
        font-size: 22px;
    }
}
@media(max-width: 440px) {
    .intro__buy > img{
        display: none;
    }
    .footer__elems{
        flex-direction: column;
        text-align: center;
    }
}
@media(max-width: 1105px) {
    .btn{
        display: flex;
    }
    .navigate{
        padding: 0 8px;
    }
    .header__list{
        position: fixed;
        width: 200px;
        height: 100%;
        right: -200px;
        z-index: 1;
        top: 95px;
        flex-direction: column;
        background: #fff;
        padding: 0 25px;
        padding-top: 50px;
        box-shadow: 0 10px 10px #00000094;
        transition: 0.3s;
    }
    .header__link::before{
        display: none;
    }
    #check:checked ~ .header__list{
        right: 0;
    }
    .header__link-se{
        font-size: 14px;
        text-align: center;
    }
    .skrins{
        grid-template-columns: repeat(2, minmax(260px, 260px));
    }
}
@media(max-width: 540px) {
    .skrins{
        grid-template-columns: repeat(1, minmax(260px, 260px));
    }
}